<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class="title">제목: <%= title %></h1>
    <p class="edittime">작성 시간: <%= time %></p>
    <p class="hits">조회 수: <%= hits %></p>
    <p class="writer">작성자: <%= writer %></p>
    <div class="text">내용: <%= content %></div>
  </body>
</html>
